nav {tweets-container
  height: 120px;
  width: 100%;
  border-radius: 5px;
  background-color: #343f66;
  color: #FFFFFF;
  display: flex;
  padding: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo {
  font-family: "Bungee", cursive;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writeTweet:hover {
  color: #C29200;
}


@media only screen and (min-width: 768px) {
  .body {
    width: 100%;
  }
}