.container {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

article.tweets {
  background-color: #c1c1c2;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  border: 4px solid;
  padding: 1em;
  margin-bottom: 20px;
}

article.tweets:hover {
  border: 4px solid;
  padding: 1em;
  margin-bottom: 20px;
  box-shadow: 5px 5px #949494;
}

div.submitTweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", cursive;
  margin-bottom: 25px;
}

button.submit-button {
  color: #FFFFFF;
  background-color: #343f66;
  border-color: #343f66;
  padding: 10px;
}

button.submit-button:hover {
  box-shadow: 5px 5px #949494;
}

textarea.textbox {
  width: 100%;
  border-width: 0 0 4px;
  background-color: transparent;
  resize: none;
  outline: none;
}
textarea.textbox::placeholder {
  font-weight: bold;
  color:#C29200;
}

header.tweet-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-bottom: 15px;
}

footer.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

img.tweeter-avatar {
  height: 40px;
  width: 40px;
}

div.user-avatar {
  display: flex;
  align-items: center;
}

h4.tweeter-name {
  margin: 10px;
}

h5.error-msg {
  color: #FF0000;
  margin: 10px;
  visibility: hidden;
}

output.counterRed {
  color: #FF0000;
}

div.icons {
  color: #343f66;
}

i.fa-solid:hover {
  color: #C29200;
}

i.fa-regular:hover {
  color: #C29200;
}

i.fa-sharp:hover {
  color: #C29200;
}

i.fa-icon {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 1em;
    margin-top: 5em;
    padding: 1.5em;
    flex: 2;
  }
}
