.container {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  /* background-color: #8394af;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); */

}

.submitTweet {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.submit-button {
  color: #FFFFFF;
  background-color: #4056A1;
  border-color: #4056A1
}

.textbox {
  width: 100%;
  border-width: 0 0 4px;
  background-color: transparent;
  resize: none;
  outline: none;
}

.text-area-header {
  font-weight: bold;
}

.all-tweets {
  border-color: #545149;
  border: 4px solid;
  padding: 1em;

}

.tweet-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.icons {
  color: #4056A1;
}

.fa-solid:hover {
  color: #C29200;
}

.fa-regular:hover {
  color: #C29200;
}

.fa-sharp:hover {
  color: #C29200;
}

.fa-icon {
  cursor: pointer;
}